<nz-spin [(nzSpinning)]="isSpinning">
  <nz-table #borderedTable nzBordered nzShowSizeChanger [nzData]="dataSet" [nzTotal]="length"
    [nzFrontPagination]="false" (nzPageIndexChange)="setPageData()" (nzPageSizeChange)="changeSize()">
    <caption>{{ caption }}</caption>
    <thead>
      <tr>
        <th>时间</th>
        <th>详情</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let access of borderedTable.data trackBy:trackById">
        <td>
          {{getDate(access.accessTime)}}
        </td>
        <td>
          <span><b>IP:</b>{{access.ipAddress}}</span>
          <span><b>AccessTime:</b>{{getTime(access.accessTime)}}</span>
          <span><b>RequestMethod:</b>{{access.requestMethod}}</span>
          <span><b>RequestPath:</b>{{access.requestPath}}</span>
          <span><b>Protocol:</b>{{access.protocol}}</span>
          <span><b>RequestState:</b>{{access.requestState}}</span>
          <span><b>PageSize:</b>{{access.pageSize}}</span>
          <span><b>SourcePage:</b>{{access.sourcePage}}</span>
          <span><b>UserAgent:</b>{{access.userAgent._ua}}</span>
        </td>
      </tr>
    </tbody>
  </nz-table>
</nz-spin>
